.blended-6 {
  background-color: teal;
  border-radius: 50%;
  height: 900px;
  width: 900px;
}
.title2 {
  padding-top: 300px;
  color: 000000;
  font-size: 32px;
  text-align: center;
}

.members-list {
  padding-left: 80px;
}

.members-list_item {
  padding: 10px 0px;
}

.members-list_link {
  padding: 10px 0px;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}
