<section class="blended-6">
    <h2 class="title2">Наша группа лучше всех</h2>
    <ul class="members-list list">
        <li class="members-list_item"><a href="https://github.com/nensi-n" class="members-list_link link">Anna Savchuk</a>
        </li>
        <li class="members-list_item"><a href="https://github.com/juliedevdes" class="members-list_link link">Julia
                Ohrimenko</a></li>
        <li class="members-list_item"><a href="https://github.com/sh-sn-inna" class="members-list_link link">Inna
                Shkinder-Snurnitsyna
            </a></li>
        <li class="members-list_item"><a href="https://github.com/xetyri" class="members-list_link link">Roman Leshchenko</a>
        </li>
        <li class="members-list_item"><a href="https://github.com/serjneo" class="members-list_link link">Serhii
                Nechytailenko</a></li>
        <li class="members-list_item"><a href="https://github.com/vovchik851" class="members-list_link link">Вова Сорокин</a>
        </li>
        <li class="members-list_item"><a href="https://github.com/ponomaleks" class="members-list_link link">Aleksandr
                Ponomarenko</a></li>
    </ul>

</section>